extends ../layout

block content
    h1.
        Infophoto #{product._id}
    p Name: #{product.name}
    p type: #{product.type}
    p Created: #{productcreated}
    p Available: #{product.available}
